/* ~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~ */

.navbar {
    border: 1px solid black;
    background-color: white;
}

.active {
    font-weight: 500;
    text-decoration: underline black dashed;
    text-underline-offset: 4px;
}

.mobile-menu-padding {
    padding-left: 20px;
}

.logo {
    padding-left: 10px;
}

/* ~~~~~~~~~~~~ WELCOME ~~~~~~~~~~~~ */

#welcome {
    background-color: #FDF6B1;
}

/* ~~~~~~~~~~~~ GALLERY ~~~~~~~~~~~~ */
    
#gallery {
    background-color: white;
}

#placeholder {
    max-height: 800px;
    transform: rotate(90deg);
}
    



/* ~~~~~~~~~~~~ GENERAL FUNCTIONALITY ~~~~~~~~~~~~ */

.center {
    margin: auto;
    width: 50%;
  }