/* ~~~ Google Fonts ~~~ */

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Ysabeau+Infant:wght@100;200;300;400;500;600;700&display=swap');

/* ~~~~~~~~~~~~ GENERAL FUNCTIONALITY ~~~~~~~~~~~~ */

p {
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    color: #207178;
    margin: 0;
}

h1 {
    font-family: 'Cookie', cursive;
    color: #207178;
}

h2 {
    font-family: 'Cookie', cursive;
    color: #207178;
}

h3 {
    font-family: 'Cookie', cursive;
    font-weight: 400;
    font-size: xx-large;
    color: white;
    margin: 0;
    line-height: 80%;
}

h4 {
    
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 400;
    font-size: small;
    color: white;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a { 
    text-decoration: none;
}

.wrapper {
    width: 70%;
    margin: auto;
}

.section-default {
    background-color: white;
    padding: 30px 10%;
}

.section-default p {
    margin-bottom: 1em;
    color: #207178;
}

/* ~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~ */

.navbar {
    background-color: white;
    z-index: 1;
    font-family: 'Ysabeau Infant', sans-serif;
}

menu {
    margin: 0;
}

.active {
    font-weight: 500;
    text-decoration: underline #207178 dashed;
    text-underline-offset: 4px;
}

.mobile-menu-padding {
    padding-left: 20px;
}

.logo {
    padding-left: 10px;
    color: #207178;
}

.navbar-nav {
    --bs-nav-link-hover-color: #207178;
    --bs-nav-link-color: #4FA3AB;
}

.navbar-nav .nav-link.active {
    color: #207178;
}

/* ~~~~~~~~~~~~ HERO IMAGE ~~~~~~~~~~~~ */

.hero-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#landing {
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.5)), url("../images/hero-image-home.jpg") no-repeat center 70%;
}

.hero-text {
    margin-top: 20%;
    padding-bottom: 30px;
    text-shadow: 2px 2px 5px black;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.hero-text h1 {  
    line-height: 70px;
    font-size: 100px;
    font-family: 'Cookie', cursive;
    margin: 20px 0 30px 0;
    color: white;
}

.hero-text h2 {  
    font-size: 50px;   
    font-family: 'Cookie', cursive;
    margin: 0;
    color: white;
}

.hero-text p {  
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
}

/* ~~~~~~~~~~~~ WELCOME ~~~~~~~~~~~~ */

/* ~~~ FLICKITY CAROUSEL - from  https://flickity.metafizzy.co/ ~~~ */
/* ~~~ style code modified to fit in with this project better ~~~ */

.carousel {
    width: 55%;
    margin: auto;
}

.carousel-cell {
    width: 100%; /* full width */
    height: 600px; /* height of carousel */
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* navigation butons - smaller, dark, rounded square */

.flickity-button {
    background: #207178;
}

.flickity-button:hover {
    background: #F29552;
}

.flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

/* icon color */
.flickity-button-icon {
    fill: white;
}

/* position outside */
.flickity-prev-next-button.previous {
    left: -40px;
}

.flickity-prev-next-button.next {
    right: -40px;
}

/* dots - selected */

.flickity-page-dots .dot {
    background: #207178;
}

/* ~~~~~~~~~~~~ OUR MEETINGS ~~~~~~~~~~~~ */

#meetings {
    background: linear-gradient(rgba(242, 149, 82, 0.93),rgba(242, 149, 82, 0.93)), url(../images/meetings-background.jpg);
}

#meetings-text {
    margin-top: 43px;
    padding: 30px 10% 22px;
}

#meetings-text h1,
#meetings-text p {
    color: white;
}

#meetings-text p {
    margin-bottom: 0.5em;
}

#meetings-text p a {
    color: #FDF6B1;
    text-decoration: underline;
}

#meetings-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: center;
    column-gap: 5%;
}

.meetings-griditem {
    height: 400px;
    border-radius: 40px;
    border: 3px solid white;
    display: grid;
    align-items: end;
    overflow: hidden;
}

.meetings-griditem-right {
    height: 400px;
    border-radius: 40px;
    border: 3px solid white;
    align-items: end;
    overflow: hidden;
    display: none;
}

.meetings-griditem-infobox-right {
    display: none;
    height: 55%;
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85));
    padding: 30% 3% 3%;
    justify-content: center;
    align-content: center;
}

.meetings-griditem-infobox {
    height: 55%;
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85));
    padding: 30% 3% 3%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.meetings-griditem-infobox h4 {
    margin-bottom: 4%;
}

.meetings-griditem-infobox p {
    color: white;
}

.meetings-griditem-infobox-right p {
    color: white;
}

.meetings-griditem-infobox-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
}

.meetings-griditem-infobox-icons {
    text-align: end;
    border-right: 2px white solid;
    border-radius: 2px;
    padding-right: 1em;
}

.meetings-griditem-infobox-text {
    justify-self: start;
    padding-left: 1em;
}

.time-short {
    display: none;
}

#cross-stitching {
    background: url("../images/meetings-cross-stitch.jpg") no-repeat center center;
}

#cross-stitching-right {
    background: url("../images/meetings-cross-stitch.jpg") no-repeat center center;
}

#customisation {
    background: url("../images/meetings-customisation.jpg") no-repeat center center;
}

#customisation-right {
    background: url("../images/meetings-customisation.jpg") no-repeat center center;
}

#florals {
    background: url("../images/meetings-florals.jpg") no-repeat center center;
}

#pets {
    background: url("../images/meetings-pets.jpg") no-repeat center center;
}

#meetings-host {
    padding: 30px 10%;
}

#meetings-host h2 {
    color: #207178;
}

#meetings-host p {
    margin-bottom: 25px;
    color: white;
}

#meetings-host button {
    background: none;
    border: #207178 solid 2px;
    border-radius: 10px;
    padding: 7px;
}

#meetings-host button:hover {
    background-color: #207178;
}

#meetings-host button a {
    color: white;
    text-decoration: none;
    font-size: medium;
    padding: 7px;
}

/* ~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~ */

footer {
    background-color: #207178;
    text-align: center;
    padding: 0.5rem 0;
    font-size: small;
}

footer p {
    color: white;
}

footer a {
    color: white;
}

#socials {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30%;
    font-size: 25px;
}

/* ~~~~~~~~~~~~ OUR-STITCHES ~~~~~~~~~~~~ */

/* hero-image section */

#stitches-image {
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.5)), url("../images/hero-image-our-stitches.jpg") no-repeat center;
}

/* stitches section */

#stitches {
    padding-bottom: 50px;
}

#stitches-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: center;
    column-gap: 5%;
    row-gap: 50px;
}

.stitches-griditem {
    height: 300px;
    background: red;
    border-radius: 40px;
    display: grid;
    align-items: end;
    overflow: hidden;
}

.stitches-griditem-infobox {
    height: 35%;
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.65));
    display: grid;
    justify-content: center;
    align-content: 
    center;
}

.stitches-griditem-infobox h1 {
    color: white;
    text-shadow: 1px 1px 5px black;
}

#running {
    background: url("../images/running-stitch.jpg") no-repeat center center;
}

#back {
    background: url("../images/back-stitch.jpg") no-repeat center center;
}

#satin {
    background: url("../images/satin-stitch.jpg") no-repeat center center;
}

#cross {
    background: url("../images/cross-stitch.jpg") no-repeat center center;
}

#lazy-daisy {
    background: url("../images/lazy-daisy-stitch.jpg") no-repeat center center;
}

#woven-wheel {
    background: url("../images/woven-wheel-stitch.jpg") no-repeat center center;
}

#chain {
    background: url("../images/chain-stitch.jpg") no-repeat center center;
}

#knots {
    background: url("../images/french-knots.jpg") no-repeat center center;
}

/* ~~~ Bootstrap modal ~~~ */

.modal h1 {
    color: white;
    text-shadow: 1px 1px 3px black;
}

.modal-content {
    background: linear-gradient(rgba(32, 113, 120, 0.93),rgba(32, 113, 120, 0.93)), url(../images/meetings-background.jpg);
    border-radius: 25px;
    border: none;
}

.modal-header {
    border-bottom: none;
    justify-content: center;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.modal-footer button {
    background: none;
    border: white solid 1px;
    border-radius: 10px;
}

.modal-footer button:hover {
    background: white;
    color: #207178;
}

.modal-body {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 55%;
    grid-template-rows: 300px;
    gap: 3%;
}

.modal-body p {
    color: white;
    padding-top: 0;
    margin-bottom: 1em;
}

.modal-video-embed {
    margin-bottom: 1em;
}

.modal-video-embed iframe {
    width: 100%;
    height: 100%;
}

/* ~~~~~~~~~~~~ JOIN-US ~~~~~~~~~~~~ */

/* general usability */

.text-padding-bottom {
    padding-bottom: 0.5em;
}

.font-weight-500 {
    font-weight: 500;
}

/* hero-image section */

#join-us-image {
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.5)), url("../images/hero-image-join-us.jpg") no-repeat center 65%;
}

/* form section */

#newsletter a {
    color: #F29552;
}

.form {
    margin: auto;
    padding: 1em;
    border: #207178 solid 1px;
    border-radius: 25px;
    font-family:'Ysabeau Infant', sans-serif;
    color: #207178;
}

.form p {
    margin: 1.5em auto 0.5em;
    font-weight: 600;
}

.form-text-field {
    display: inline-block;
    margin: 0.5em;
}

.form-text-field input {
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(118, 118, 118);
}

.form-text-field input:focus {
    outline: none;
    border: 2px solid #207178;
}

.form-text-field label {
    margin-right: 0.5em;
}

.form-radio {
    line-height: 1em;
    margin: 0.5em auto;
}

.form-radio input {
    vertical-align: middle;
    margin: 3px;
    display: inline;
}
    
.form-radio label {
    vertical-align: middle;
    text-align: start;
    display: inline;
}

#form-checkboxes {
    display: grid;
    padding: 0 25%;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    column-gap: 10%;
}

.form-checkbox {
    text-align: start;
    display: inline;
    }

.form-checkbox label {
    display: inline;
    width: 90%;
    vertical-align: top;
    line-height: 100%;
    
}

.form-checkbox input {
    vertical-align: top;
    margin: 3px;
}

input[type="submit"] {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    background: none;
    border: #207178 solid 1px;
    border-radius: 10px;
    padding: 7px;
    color: #207178;
}

input[type="submit"]:hover {
    background-color: #207178;
    color: white;
}

#mail-us {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#mail-us p {
    margin: 0 0 0.5em;
}

#mail-us a {
    color: #207178;
}

#mail-us #email-address {
    margin: 0;
}

/* address section */

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 25px;
}

/* ~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~ */

/* hero-image section */

@media screen and (min-height: 1281px) {
    
    .hero-wrapper {
        height: auto;
    }

    .hero-text {
        margin: 30% 40px 0;
        padding: 0 0 30px;
    }
}

@media screen and (min-width: 1921px) {
    
    .hero-wrapper {
        height: auto;
    }

    .hero-text {
        margin: 30% 40px 0;
        padding: 0 0 30px;
    }
}

@media screen and (max-width: 1030px) {
    
    .hero-text {
        margin: 30% 40px 0;
    }

    .hero-text h1 {
        margin: 20px 0;
    }
}

@media screen and (max-width: 850px) {
    
    .hero-text {
        margin: 40% 60px 0;
    }

    .hero-text h1 {
        margin: 10px 0;
        font-size: 80px;
    }
}

@media screen and (max-width: 550px) {

    .hero-text {
        margin: 50% 40px 0;
    }

    .hero-text h1 {
        margin: 5px 0;
    }
}

@media screen and (max-width: 325px) {

    .hero-text {
        margin: 70% 40px 0;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text h2 {
        font-size: 40px;
    }
}

/* Flickity carousel */

@media screen and (max-width: 1030px) {
    
    .carousel {
        width: 85%;
        margin: auto;
    }
    
    .carousel-cell {
        height: 600px;
    }
}

@media screen and (max-width: 850px) {
    
    .flickity-prev-next-button.previous {
        left: 5px;
    }
    
    .flickity-prev-next-button.next {
        right: 5px;
    }

    .flickity-button {
        background: none;
    }
    
    .flickity-button:hover {
        background: none;
    }
    
    .carousel {
        width: 100%;
        height: 400px;
    }
    
    .carousel-cell {
        height: 400px;  
    }

    .flickity-page-dots {
        bottom: 10px;
    }
    
    .flickity-page-dots .dot {
        background: white;
    }
}

@media screen and (max-width: 550px) {
    
    .carousel {
        height: 300px;
    }
    
    .carousel-cell {
        height: 300px;   
    }

    .flickity-page-dots {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    
    .carousel {
        height: 200px;
    }
    
    .carousel-cell {
        height: 200px; 
    }
}

/* Our Meetings section */

@media screen and (max-width: 1500px) {

    #meetings-text p {
        margin-bottom: 1em;
    }

    #meetings-text {
        padding-bottom: 14px;
    }

}

@media screen and (max-width: 1030px) {

    #meetings-grid {
        grid-template-columns: 50% 50%;
        row-gap: 30px;
    }

    .meetings-griditem-infobox {
        padding-bottom: 7%;
    }
    
}

@media screen and (max-width: 850px) {

    #meetings-text {
        margin-top: 10px;
    }

    .meetings-griditem-infobox {
        padding-bottom: 5%;
    }

}

@media screen and (max-width: 570px) {
    
    .time-short {
        display: contents;
    }

    .time-long {
        display: none;
    }
    
}

@media screen and (max-width: 550px) {

    #meetings-text {
        margin-top: 10px;
        text-align: justify;
    }

    #meetings-grid {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .meetings-griditem {
        height: 200px;
        align-items: center;
        justify-items: start;
        display: grid;
        grid-template-columns: 45% 55%;
    }

    .meetings-griditem-infobox {
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85));
        padding: 5% 0 5% 5%;
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .meetings-griditem-right {

        height: 200px;
        align-items: center;
        justify-items: end;
        display: grid;
        grid-template-columns: 55% 45%;

    }

    .meetings-griditem-infobox-right {
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85));
        padding: 5% 0 5% 5%;
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
    }

    .meetings-griditem-infobox h4 {
        margin-bottom: 10%;
    }

    .meetings-griditem-infobox-right h4 {
        margin-bottom: 10%;
    }

    .meetings-griditem-infobox-icons {
        border-right: none;
        padding-right: 0;
    }

    .meetings-griditem-infobox-text {
        padding-left: 0.5em;
    }

    .time-short {
        display: contents;
    }

    .time-long {
        display: none;
    }
    
    #customisation-right {
        background: url("../images/meetings-customisation-small.jpg") no-repeat center center;

    }

    #pets {
        background: url("../images/meetings-pets-small.jpg") no-repeat center center;

    }

    #customisation {
        display: none;
    }

    #cross-stitching {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    .meetings-griditem-infobox h3 {
        font-size: 25px;
    }

    .meetings-griditem-infobox-right h3 {
        font-size: 25px;
    }
    
    .meetings-griditem-infobox h4 {
        font-size: 12px;
    }

    .meetings-griditem-infobox-right h4 {
        font-size: 12px;
    }

    .meetings-griditem-infobox-text p,
    .meetings-griditem-infobox-icons p {
        font-size: smaller;
    }

}

/* Our Stitches grid */

@media screen and (max-width: 1300px) {

    .wrapper {
        width: 80%;
    }

}

@media screen and (max-width: 1100px) {

    #stitches-grid {
        row-gap: 30px;
    }
}

@media screen and (max-width: 850px) {

    #stitches-grid {
        row-gap: 20px;
    }
}

@media screen and (max-width: 600px) {

    #stitches-grid {
        display: flex;
        flex-direction: column;
        align-items: normal;
        row-gap: 30px;
    }

}

/* Our Stitches modal */

@media screen and (max-width: 1200px) {

    .modal-body {
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        gap: 3%;
    }

    .modal-video-embed iframe {
        width: 100%;
        height: 400px;
    }

    .modal-video-embed {
        margin-bottom: 0;
    }

}

/* join-us form */

@media screen and (max-width: 1150px) {
    
    #form-checkboxes {
        padding: 0 15%;
    }
    
}

@media screen and (max-width: 620px) {
    
    #form-checkboxes {
        display: flex;
        flex-direction: column;
        padding: 1em 10% 0;
        grid-template-columns: 1fr 1fr;
        row-gap: 1em;
        column-gap: 10%;
    }

    .form-radio {
        line-height: 1em;
        margin: 1em auto 0.5em;
    }
    
}

/* join-us email section */

@media screen and (max-width: 900px) {
    
    br {
        display: none;
    }
}